/* stylelint-disable max-line-length */
/*
 * VA.gov Font Loading - Source Sans Pro
 * Based on US Web Design System (USWDS)
 * Source: https://fonts.google.com/specimen/Source+Sans+Pro
 */

/* Google Fonts - Source Sans Pro (USWDS primary font) */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

/* Roboto Mono for code blocks (optional) */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
